
@media screen and (max-width:450px) {
    #replay-turn-jump {
        font-size: 12px;
        padding: 2px 8px 2px 15px
    }

    #replay-turn-jump-input {
        padding: 2px;
        font-size: 12px;
        width: 32px;
        margin: 0 3px
    }

    #replay-turn-jump-button {
        padding: 3px;
        font-size: 14px
    }
}

#gameplay-ad-skyscraper {
    position: fixed;
    top: 70px;
    left: 0
}

#share-replay-button {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -79px;
    z-index: 25;
    font-family: Quicksand-Bold
}

#replay-bottom {
    bottom: 0;
    padding: 0;
    margin: 0;
    z-index: 25
}

#replay-bottom-bar {
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
    white-space: nowrap
}

#replay-bottom-bar div {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    transition: .2s ease-in-out;
    background-color: white
}

#replay-bottom-bar div:hover {
    cursor: pointer;
    background-color: #eee
}

@media screen and (max-width:728px) {
    #replay-ad-container {
        display: none
    }
}

#tutorial {
    position: fixed;
    top: 120px;
    width: 700px;
    max-width: 90%;
    box-shadow: 2px 2px teal;
    background-color: white;
    padding: 6px 10px;
    z-index: 25;
    left: 50%;
    transform: translateX(-50%)
}

#tutorial p {
    margin: 0;
    color: black;
    font-size: 20px;
    text-align: center
}

.ping {
    text-shadow: 0 1px 1px black
}

.tip {
    z-index: 30;
    text-align: center;
    position: fixed !important;
    top: 40px;
    padding: 8px;
    font-size: 16px
}

@media screen and (max-width:600px) {
    #tutorial {
        max-width: 100%;
        top: initial;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: none;
        padding: 5px 0;
        transform: initial
    }

    #tutorial p {
        font-size: 16px
    }

    #replay-bottom-bar div {
        padding: 8px;
        font-size: 16px
    }

    .tip {
        padding: 5px;
        font-size: 13px
    }
}

@media screen and (max-width:400px) {
    #replay-bottom-bar div {
        padding: 5px;
        font-size: 14px
    }
}

#gameMap {
    table-layout: fixed
}

#gameMap td {
    position: relative;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    background: #dcdcdc;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black;
    opacity: 1;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    background-size: 40px 40px
}

#gameMap td.small {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    font-size: 14px;
    background-size: 32px 32px
}

#gameMap td.large {
    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    font-size: 18px;
    background-size: 48px 48px
}

#gameMap td.tiny {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    min-width: 32px;
    min-height: 32px;
    font-size: 12px;
    background-size: 25px 25px
}

#gameMap td.tiny2 {
    width: 28px;
    height: 28px;
    max-width: 28px;
    max-height: 28px;
    min-width: 28px;
    min-height: 28px;
    font-size: 11px;
    background-size: 20px 20px
}

#gameMap td.selectable,
#gameMap td.attackable {
    position: relative;
    z-index: 20
}

#gameMap td.selectable:hover,
#gameMap td.attackable:hover {
    cursor: pointer
}

#gameMap.pingmode td.selectable,
#gameMap.pingmode td.selectable:hover,
#gameMap.pingmode td.attackable:hover {
    cursor: crosshair
}

#gameMap td.selected {
    border: 1px solid white
}

#gameMap td.selected50 {
    text-shadow: 1px 1px black
}

#gameMap td.attackable {
    opacity: .4
}

#gameMap td.city,
#gameMap td.general,
#gameMap td.mountain,
#gameMap td.obstacle,
#gameMap td.swamp {
    background-position: center;
    background-repeat: no-repeat
}

#gameMap td.city {
    background-color: gray;
    background-image: url('/city.png')
}

#gameMap td.neutral {
    background-color: gray
}

#gameMap td.general {
    background-image: url('/crown.png')
}

#gameMap td.mountain {
    background-image: url('/mountain.png');
    background-color: #bbb
}

#gameMap td.obstacle {
    background-image: url('/obstacle.png')
}

#gameMap td.swamp {
    background-image: url('/swamp.png');
    background-color: gray
}

#gameMap td.fog {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1)
}

#gameMap td.fog.selected {
    border: 1px solid white
}

.game-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.chat-message {
    margin: 5px;
    text-align: left;
    font-size: 14px;
    word-wrap: break-word
}

.server-chat-message {
    font-family: Quicksand-Bold, serif
}

#in-game-chat,
#custom-queue-chat {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5)
}

#chatroom-input {
    width: 100%;
    border: 2px solid transparent
}

.chatroom-input-disabled {
    width: 100%;
    border: 2px solid transparent
}

.chatroom-input-disabled:disabled {
    background: white;
    color: black
}

#chatroom-input:focus {
    border: 2px solid teal
}

.chat-messages-container {
    width: 400px;
    max-height: 240px;
    overflow-y: scroll;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.minimized {
    opacity: .5
}

.chat-messages-container.minimized {
    width: 280px;
    max-height: 48px
}

@media screen and (max-width:1000px) {
    .chat-messages-container {
        width: 320px
    }
}

@media screen and (max-height:600px),
screen and (max-width:600px) {
    .chat-messages-container {
        max-height: 180px
    }

    .chat-message {
        font-size: 13px
    }
}

@media screen and (max-height:400px),
screen and (max-width:375px) {
    .chat-messages-container {
        max-height: 100px
    }
}

.username {
    font-family: Quicksand-Bold, serif
}

.turn {
    font-size: 10px;
    color: #bbb
}

.announcement-spacer {
    min-width: 4px;
    background: #555;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin: 0 1px 0 2px
}

.options-controls-row {
    position: relative;
    height: 50px
}

.options-controls-row p {
    color: black;
    display: inline-block;
    right: 50%;
    margin-right: 25px
}

.options-controls-row div {
    left: 50%;
    white-space: nowrap
}

#account-options {
    padding: 10px
}

#main-menu #account-options p,
#main-menu #notif-options p {
    color: black;
    margin: 5px;
    max-width: 60%
}

#main-menu #account-options input {
    padding: 5px 8px;
    font-size: 16px;
    display: block;
    width: 300px;
    max-width: 90%;
    text-align: center
}

@media screen and (max-width:800px) {

    #main-menu #account-options p,
    #main-menu #notif-options p {
        max-width: 75%
    }
}

@media screen and (max-width:450px) {

    #main-menu #account-options p,
    #main-menu #notif-options p {
        max-width: 90%
    }
}

.page-enter {
    opacity: 0
}

.page-enter.page-enter-active {
    opacity: 1;
    transition: opacity .2s ease-out .2s
}

.page-leave {
    opacity: 1
}

.page-leave.page-leave-active {
    opacity: 0;
    transition: opacity .2s ease-out
}

.tutorial-enter {
    opacity: 0
}

.tutorial-enter.tutorial-enter-active {
    opacity: 1;
    transition: opacity .4s ease-out .4s
}

.tutorial-leave {
    opacity: 1
}

.tutorial-leave.tutorial-leave-active {
    opacity: 0;
    transition: opacity .4s ease-out
}

.slider-container {
    position: relative;
    background-color: #222;
    border: 1px solid transparent;
    padding: 28px 18px 20px 18px;
    width: 50%;
    min-width: 300px;
    border-radius: 3px;
    transition: all .2s ease-in-out
}

.slider-container:hover {
    border: 1px solid teal
}

.slider-container input[type='range'] {
    margin: 0;
    background-color: transparent;
    width: 100%
}

.slider-container p {
    margin: 0;
    font-size: 13px
}

.slider-container .slider-value {
    top: 5px;
    font-weight: 600;
    font-size: 18px
}

.slider-container .slider-min {
    position: absolute;
    left: 5px;
    bottom: 5px
}

.slider-container .slider-max {
    position: absolute;
    right: 5px;
    bottom: 5px
}

@media screen and (max-width:600px) {
    .slider-container {
        min-width: 200px;
        max-width: 250px;
        padding: 20px 15px 18px 15px
    }

    .slider-container .slider-value {
        font-weight: 400;
        font-size: 13px
    }

    .slider-container p {
        font-size: 11px
    }
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%
}

input[type=range]:focus {
    outline: 0
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: .2s;
    background: #ddd;
    border-radius: 8px
}

input[type=range]::-webkit-slider-thumb {
    border: 1px solid teal;
    height: 18px;
    width: 12px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ddd
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: .2s;
    background: #ddd;
    border-radius: 8px
}

input[type=range]::-moz-range-thumb {
    border: 1px solid teal;
    height: 18px;
    width: 12px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: .2s;
    background: transparent;
    border-color: transparent;
    color: transparent
}

input[type=range]::-ms-fill-lower {
    background: #ddd;
    border-radius: 16px
}

input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 16px
}

input[type=range]::-ms-thumb {
    border: 1px solid teal;
    height: 18px;
    width: 12px;
    border-radius: 4px;
    background: #fff;
    cursor: pointer
}

input[type=range]:focus::-ms-fill-lower {
    background: #ddd
}

input[type=range]:focus::-ms-fill-upper {
    background: #ddd
}