# Based on https://github.com/github/gitignore/blob/master/Node.gitignore

# Configuration
config

# Logs
logs
*.logs

# Dependency directories
node_modules/
jspm_packages/

# Temp directories
other
prac