.red {
  background-color: #ff0000;
}

.green {
  background-color: #008000;
}

.blue {
  background-color: #0000ff;
}

.purple {
  background-color: #800080;
}

.teal {
  background-color: #008080;
}

.lightblue {
  background-color: #4363d8;
}

.orange {
  background-color: #f58231;
}

.maroon {
  background-color: #800000;
}

.yellow {
  background-color: #b09f30;
}

.pink {
  background-color: #f032e6;
}

.brown {
  background-color: #9a6324;
}

.lightgreen {
  background-color: #7ab78c;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #292929;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

input {
  text-align: center;
  color: #004d17;
  font-size: 24px;
  display: block;
  margin: 10px;
  padding: 5px 30px;
  border: 0;
  outline: 0;
}

#introduce {
  color: white;
}

#username-input {
  font-size: 24px;
  border: 0;
  border-width: 0;
  border-radius: 3px;
  outline: none;
  display: block;
  padding: 3px;
  text-align: center;
}

#username-input:hover {
  outline: none;
}

#start-button {
  color: #004d17;
  -webkit-box-shadow: 3px 3px #004d17;
          box-shadow: 3px 3px #004d17;
  font-size: 24px;
  border: 0;
  border-width: 0;
  border-radius: 3px;
  outline: none;
  display: block;
  margin: 5px;
  padding: 5px 20px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

#start-button:hover {
  color: white;
  background-color: #004d17;
  -webkit-box-shadow: 3px 3px white;
          box-shadow: 3px 3px white;
}

#start-button:focus {
  outline: none;
}

#game-map {
  table-layout: fixed;
}

#game-map td {
  position: relative;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  min-width: 50px;
  min-height: 50px;
  background: #dcdcdc;
  text-align: center;
  color: white;
  text-shadow: 0 0 2px black;
  opacity: 1;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  background-size: 40px 40px;
}

#game-map td .selected {
  position: relative;
  z-index: 20;
  border: 1px solid white;
}

#game-map td .selected:hover {
  cursor: pointer;
}

#game-map td .attackable {
  position: relative;
  z-index: 20;
  opacity: .4;
}

#game-map td .attackable:hover {
  cursor: pointer;
}

#game-map td .king,
#game-map td .city,
#game-map td .plain,
#game-map td .swamp {
  background-position: center;
  background-repeat: no-repeat;
}

#game-map td .king {
  background-image: url("/assets/crown.svg");
}

#game-map td .city {
  background-color: gray;
  background-image: url("/assets/city.svg");
}

#game-map td .neutral {
  background-color: gray;
}

#game-map td .mountain {
  background-image: url("/assets/mountain.png");
  background-color: #bbbbbb;
}

#game-map td .obstacle {
  background-image: url("/assets/obstacle.png");
}

#game-map td .swamp {
  background-image: url("/assets/swamp.png");
  background-color: gray;
}

#game-map td .fog {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
}

#game-map td .fog.selected {
  border: 1px solid white;
}
